body {
  color:white;
}
main {
  background: url(https://scontent.fmnl8-2.fna.fbcdn.net/v/t1.15752-9/322762165_896480791699786_3312874799366609417_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeFiX4KaJcXB34a9d8r3_0M-yoC3J7GmIDPKgLcnsaYgM1QFfDH2OmYsf9469YF22-olvy1tbDPUlRDPNQR-8qHh&_nc_ohc=8DVRp0vk9XgAX8EDnsf&tn=WJ_JTiEIf41TumMd&_nc_ht=scontent.fmnl8-2.fna&oh=03_AdSM5ZU0_J1h1T_8tGiRFaHjjJa8KoiMktvjxTvkPqesaw&oe=63EA4650);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  color: red;
  font-variant: all-small-caps;
}

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}
img.bd-placeholder-img.bd-placeholder-img-lg.featurette-image.img-fluid.mx-auto {
  height: 515px;
  padding-top: 60px;
}
h2.featurette-heading.fw-normal.lh-1 {
  font-size: 43px;
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

/*float end */
a {
  color: #fffdfd;
  text-decoration: underline;
  font-weight: 700;
}
a:hover {
  color: red;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
a.nav-link.active:hover {
  color: red;
  font-weight: bolder;
}

/* header part style CSS */
header {
  background: #141212;
}
h2.header {
  color: rgb(209 57 57);
  font-family: serif;
}
div#navbarCollapse {
  background-color: #212529;
}
button.navbar-toggler {
    background-color: #212529;
}
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark {
  height: 69px;
}
.logo-container {
  display: inline-block;
  margin-top: -75px;
}
.logo-container img {
  width: 110px;
  height: 10vh;
  margin-top: 80px;
}
nav.header-navigation a:hover {
  color: red;
  font-weight: bolder;
}
div#navbarCollapse {
  float: right;
}
a.nav-link.active {
  margin-right: 42px;
  font-variant: all-small-caps;
  font-size: 18px;
}
/* body */
.text-muted {
  --bs-text-opacity: 1;
  color: rgb(23 139 255 / 75%)!important;
  font-family: auto;
}
h2.fw-normal {
  color: white;
  font-family: auto;
}
p {
  color: rgb(255 255 255);
  font-size: 20px;
}
/* FOOTER */
::before {
  font-size: 35px;
}
